#### Read the file in DataFrame

In [16]:
import pandas as pd
df = pd.read_csv('H:/DataScience/cricket.csv')
df

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

#### Read Names and runs

In [30]:
df[['name', 'runs']]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

#### Find total wickets taken by them

In [40]:
print("Total Wickets", df['runs'].sum())

Total Wickets 48322

#### Find average of catches taken

In [45]:
print("Averages Catches", df['catches'].mean())

Averages Catches 63.3

#### Find the name of wicketkeeper

In [48]:
wicket_keeper = df[df['stumpings'] > 0].iloc[0]
print("Wicket-keeper name is: ", wicket_keeper['name'])

Wicket-keeper name is:  Bahubali

#### Name of bowler who played highest number of matches

In [54]:
bowler = df[df['wickets'] > 0].sort_values(by='matches', ascending=False).iloc[0]
print("Bowler with most matches:", bowler['name'])

Bowler with most matches: Leeladhar

#### Average of all the bowlers (total wickets / total matches for bowlers)

In [57]:
bowlers = df[df['wickets'] > 0]
average_bowling = bowlers['wickets'].sum() / bowlers['matches'].sum()
print("Average wickets per match for all bowlers:", average_bowling)

Average wickets per match for all bowlers: 0.7581573896353166

#### Name of the bowler with least bowling average

In [72]:
df1 = pd.read_csv('H:/DataScience/cricket.csv')
df1['bowling_average'] = df1['wickets'] / df1['matches']
bowler_with_least_average = df1.sort_values(by='bowling_average').iloc[0]
print("Bowler with the least bowling average:", bowler_with_least_average['name'])

Bowler with the least bowling average: Avdhoot Dighe

#### Print information about all players whose catches per match ratio is greater than 0.5, and store it in a csv file

In [79]:
df['catches_per_match'] = df['catches'] / df['matches']
players_with_high_catches = df[df['catches_per_match'] > 0.5]
print("Players with catches per match ratio greater than 0.5:\n", players_with_high_catches)
players_with_high_catches.to_csv('Players_with_high_catches.csv', index=False)

Players with catches per match ratio greater than 0.5:
    sr.no          name  matches  runs  catches  wickets  stumpings  \
1      2  Rohan Kanhay      144  1256       76      178          0
3      4      Bahubali       10   756        6       11          3
6      7    Dinesh Roy      211  8537      112       16          0
9     10  Litesh Singh       89  1099       46       49          0

   bowling_average  catches_per_match
1         1.236111           0.527778
3         1.100000           0.600000
6         0.075829           0.530806
9         0.550562           0.516854

####  Sort and print information about players by ascending order of runs

In [84]:
names_runs = df[['name', 'runs']]
print( names_runs.sort_values(by='runs'))

            name  runs
3       Bahubali   756
9   Litesh Singh  1099
1   Rohan Kanhay  1256
8    Ali Durrani  2756
4      Leeladhar  2866
5      Pradyumna  5877
0    Anil Dalpat  6755
6     Dinesh Roy  8537
2  Avdhoot Dighe  8954
7     Parmeshwar  9466

####  Print the names of players whose wickets are greater than the matches

In [89]:
players_more_wickets_than_matches = df[df['wickets'] > df['matches']]['name']
print(players_more_wickets_than_matches)

1    Rohan Kanhay
3        Bahubali
4       Leeladhar
Name: name, dtype: object

### Facebook

In [97]:
df = pd.read_csv('H:/DataScience/fb.csv')
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

#### Count number of posts  paid and unpaid

In [100]:
paid_counts = df['Paid'].value_counts()
print("Number of posts which are Paid (1):", paid_counts.get(1, 0))
print("Number of posts which are Unpaid (0)):", paid_counts.get(0, 0))

Number of posts which are Paid (1): 139
Number of posts which are Unpaid (0)): 360

#### Display only Page type, Month, likes, comments and shares

In [103]:
print( df[['Type', 'Post Month', 'like', 'comment', 'share']])

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

#### Find the average number of likes to the post in September month

In [106]:
print("Average Likes in September:", df[df['Post Month'] == 9]['like'].mean())

Average Likes in September: 230.94444444444446

####  Print the information about the posts which are links

In [111]:
print( df[df['Type'] == 'Link'])

     Page total likes  Type  Category  Post Month  Post Weekday  Post Hour  \
22             138414  Link         1          12             7         10
41             138895  Link         1          12             6          3
43             138353  Link         1          12             5          3
45             138353  Link         1          12             4          3
47             138353  Link         1          12             3          2
49             138353  Link         1          12             2          2
86             137177  Link         1          11             4          3
136            136393  Link         1          10             5         10
140            136013  Link         1          10             4          3
149            135713  Link         1          10             6         11
344            117764  Link         1           5             1          2
372            113028  Link         1           4             5          7
403            107907  Link         1           4             2          6
408            106928  Link         1           4             6          4
425            102112  Link         3           3             1          3
430            100732  Link         1           3             7         14
438             98195  Link         2           3             6          6
470             91437  Link         1           2             3         13
477             86909  Link         1           1             6          4
481             86491  Link         1           1             4          4
485             86491  Link         1           1             2          2
492             85979  Link         1           1             5         11

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
22    0.0                       3454                             6853
41    1.0                      18480                            28438
43    1.0                       2645                             4270
45    1.0                       7968                            13023
47    0.0                       1925                             3481
49    0.0                       1536                             3094
86    0.0                      21176                            54779
136   0.0                       4664                             9463
140   0.0                      68992                           229733
149   1.0                       3616                             6887
344   0.0                      12540                            19301
372   1.0                      35360                            45260
403   0.0                      70912                            94172
408   0.0                      34192                            42092
425   0.0                       6876                            10885
430   0.0                       2933                             5144
438   0.0                       5730                            10083
470   0.0                       9356                            14986
477   0.0                      39600                             7927
481   1.0                       4938                             7910
485   0.0                       5168                             8371
492   0.0                      45920                             5808

     Lifetime Engaged Users  Lifetime Post Consumers  \
22                      118                      104
41                      517                      366
43                      134                      109
45                      206                      158
47                       97                       83
49                       84                       76
86                      330                      228
136                     204                      182
140                    1032                      975
149                     111                       90
344                     344                      322
372                     339                      325
403                    1374                     1106
408                     338                      322
425                     282                      245
430                      24                       23
438                     103                       71
470                     448                      381
477                     572                      496
481                      66                       63
485                      66                       59
492                     753                      655

     Lifetime Post Consumptions  \
22                          130
41                          460
43                          170
45                          223
47                          126
49                           99
86                          329
136                         251
140                        1345
149                         118
344                         396
372                         477
403                        1267
408                         389
425                         337
430                          26
438                          97
470                         505
477                         581
481                          70
485                          71
492                         763

     Lifetime Post Impressions by people who have liked your Page  \
22                                                6282
41                                               12078
43                                                2330
45                                                6734
47                                                2307
49                                                2903
86                                               13858
136                                               7196
140                                              17842
149                                               4263
344                                              16914
372                                               9105
403                                              42338
408                                              22907
425                                               9403
430                                               3972
438                                               8964
470                                              13919
477                                              12522
481                                               6625
485                                               7041
492                                              15766

     Lifetime Post reach by people who like your Page  \
22                                               3100
41                                               6752
43                                               1377
45                                               3492
47                                               1180
49                                               1407
86                                               5248
136                                              3324
140                                              8032
149                                              2138
344                                             11008
372                                              5472
403                                             27232
408                                             16464
425                                              5752
430                                              2012
438                                              4830
470                                              8460
477                                              8176
481                                              3804
485                                              3996
492                                             10720

     Lifetime People who have liked your Page and engaged with your post  \
22                                                 106
41                                                 319
43                                                 101
45                                                 138
47                                                  77
49                                                  76
86                                                 185
136                                                173
140                                                635
149                                                 93
344                                                289
372                                                156
403                                                788
408                                                230
425                                                259
430                                                 19
438                                                 92
470                                                392
477                                                167
481                                                 59
485                                                 58
492                                                220

     comment   like  share  Total Interactions
22         0   16.0    2.0                  18
41         6  187.0   18.0                 211
43         7   29.0   10.0                  46
45         4   57.0   10.0                  71
47         6   18.0    8.0                  32
49         1   12.0    1.0                  14
86         2  130.0   31.0                 163
136        0   32.0   16.0                  48
140       15  143.0   44.0                 202
149        0   24.0   11.0                  35
344        3   46.0   14.0                  63
372        7   38.0   11.0                  56
403        1  379.0   40.0                 420
408        1   36.0    7.0                  44
425        2   68.0   15.0                  85
430        0    6.0    0.0                   6
438        2   32.0   15.0                  49
470        4  114.0   13.0                 131
477        1  101.0    5.0                 107
481        0    5.0    2.0                   7
485        0   12.0    2.0                  14
492        0  128.0    9.0                 137

#### How many total shares are present for the video posts?

In [114]:
total_video_shares = df[df['Type'] == 'Video']['share'].sum()
print("Total Shares for Video Posts:", total_video_shares)

Total Shares for Video Posts: 365.0

#### hour of the day maximum posts are posted

In [117]:
print("Hour of the Day with Maximum Posts:", df['Post Hour'].value_counts().idxmax())

Hour of the Day with Maximum Posts: 3

#### Day of October, maximum number of interactions are found

In [120]:
october_posts = df[(df['Post Month'] == 10)]
max_interaction_day = october_posts.loc[october_posts['Total Interactions'].idxmax()]['Post Weekday']
print("Day in October with Maximum Interactions:", max_interaction_day)

Day in October with Maximum Interactions: 4

#### Print the information of the posts where likes are above 200 and shares are above 30

In [125]:
print( df[(df['like'] > 200) & (df['share'] > 30)])

     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour  \
3              139441   Photo         2          12             2         10
4              139441   Photo         2          12             2          3
26             138458  Status         2          12             5         11
28             138895   Photo         2          12             5          3
38             138895  Status         2          12             7          9
..                ...     ...       ...         ...           ...        ...
464             92079   Photo         1           2             6         13
468             91651   Photo         1           2             4         12
476             86909   Photo         1           1             6         10
480             86909   Photo         2           1             4         11
488             85979   Photo         3           1             7         10

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions  \
3     1.0                      50128                            87991
4     0.0                       7244                            13594
26    0.0                      19552                            34143
28    0.0                       9560                            18264
38    0.0                      17576                            33058
..    ...                        ...                              ...
464   0.0                     158208                           453213
468   0.0                      15288                            31467
476   1.0                      37088                            10966
480   0.0                      11484                            20696
488   0.0                       9700                            17442

     Lifetime Engaged Users  Lifetime Post Consumers  \
3                      2211                      790
4                       671                      410
26                     2806                     2531
28                      973                      559
38                     5352                     5202
..                      ...                      ...
464                    2482                     2319
468                    1573                     1401
476                    2728                     2288
480                    1762                     1635
488                    1407                     1271

     Lifetime Post Consumptions  \
3                          1119
4                           580
26                         3420
28                          885
38                         6547
..                          ...
464                        3412
468                        2110
476                        3183
480                        2741
488                        2007

     Lifetime Post Impressions by people who have liked your Page  \
3                                                61027
4                                                 6228
26                                               17748
28                                                9217
38                                               23135
..                                                 ...
464                                              81938
468                                              28247
476                                              66311
480                                               8774
488                                               8872

     Lifetime Post reach by people who like your Page  \
3                                               32048
4                                                3200
26                                               9824
28                                               4748
38                                              11792
..                                                ...
464                                             20608
468                                             13312
476                                             34352
480                                              5124
488                                              4876

     Lifetime People who have liked your Page and engaged with your post  \
3                                                 1386
4                                                  396
26                                                1779
28                                                 621
38                                                4104
..                                                 ...
464                                               1034
468                                               1052
476                                               2021
480                                                722
488                                                660

     comment    like  share  Total Interactions
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
26        10   412.0   72.0                 494
28        36   523.0   63.0                 622
38        11   227.0   31.0                 269
..       ...     ...    ...                 ...
464        9   268.0   36.0                 313
468        5   264.0   36.0                 305
476        7   579.0   47.0                 633
480       56   360.0   99.0                 515
488       21   277.0   80.0                 378

[88 rows x 19 columns]

#### type of posts are posted maximum number of times in November month

In [128]:
november_posts = df[df['Post Month'] == 11]
most_common_type_november = november_posts['Type'].value_counts().idxmax()
print("Most Common Post Type in November:", most_common_type_november)

Most Common Post Type in November: Photo

#### average and median of interactions for the paid (1) posts

In [131]:
paid_posts = df[df['Paid'] == 1]
print("Average Interactions for Paid Posts:", paid_posts['Total Interactions'].mean())
print("Median Interactions for Paid Posts:", paid_posts['Total Interactions'].median())

Average Interactions for Paid Posts: 278.23021582733816
Median Interactions for Paid Posts: 158.0